# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# MacOS specific files
.DS_Store

# Other files
*.log
backend/config.py
*/.eslintcache
*/*.json
*/node_modules