.App {
    text-align: center;
  }
  
  .hospital-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hospital-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  